
body{
  background-color: #f9f9f9;
}
.profileImg {
  margin: 20px 20px 0 20px;
  border-radius: 50%;
  width: 82px;
}

.sugProfileImg {
  border-radius: 50%;
  height: 42px;
}

.mainProfileContainer {
  width: 300px;
  height: 700px;
  margin: 10px;
  background: #fff;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.editProfileButton{
  background-color: #3b5998;
  border: none;
  color: #fff;
  padding: 7px 28px;
  font-family: arial;
  font-size: 0.7em;
}

.editProfileButton:hover{
  cursor: pointer;
  background-color: #3b5998e6;
}

.editProfileButtonDiv{
  margin: 15px;
  padding: 0px 0 20px 0;
  border-bottom: 1px solid #a9b7d299;
}

.profileNameStl{
  color: #5972a7;
  margin-bottom: 0px;
}

.profileEmailStl{
  margin: 0;
  font-size: 0.65em;
  color: #b5c0d8;
}


.sugFriendContainer{
  margin: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #a9b7d299;
}

.sugFriendStl{
  display: flex;
  margin: 10px 0px;
}

.sugFriendStl > div{
  padding-right: 10px;
}

.sugFriendStl > p {
  font-size: 0.8em;
  color: #5d5d5d;
}

.SugParagrafText{
  text-align: left;
  margin-left: 5px;
}

.SugParagrafText > p {
  margin: 0;
  color: #5972a7;
}

.sugInnerFriendContainer{
  margin: 0 20px;
}
