*{
  margin: 0;
  padding: 0;
}


.headerContainer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #3d5c99;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 50px;
  font-style: italic;
}

span{
  font-weight: normal;
}
