.SidebarRight {
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 25px rgba(35, 31, 32, 0.1);
    box-shadow: 0 0 25px rgba(35, 31, 32, 0.1);
}