.onlineGroups {
    font-family: "Montserrat";
    width: 300px;
    overflow-y: auto;
}

.onlineGroups .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 0.5px solid lightgray;
}

.onlineGroups .title h3 {
    font-weight: 400;
    font-size: 16px;
    color: #5972a7;
}

.onlineGroups .title p {
    font-size: 14px;
    color: #a2c1ff;
}

.memberSelection {
    margin-top: 0.75em;
}

.memberSelection img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.onlineGroups ul li {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    padding-top: 0.25em;
    margin-bottom: 1.5em;
    padding-bottom: 0.75em;
    flex-direction: column;
}

.onlineGroups button {
    outline: none;
    border: none;
    padding: 5px 10px;
    height: 25px;
    background-color: #3d5c99;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onlineGroups .left {
    font-size: 14px;
    font-weight: 600;
    color: #3d5c99;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.onlineGroups .right {
    font-size: 13px;
    margin-top: 10px;
}

.onlineGroups .greenCircle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #3d9942;
}

.onlineUsers .avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.onlineGroups .userCount span {
    color: #a2c1ff;
}
